.sidebar-menu-wrapper {
    height: 100%;
    width: inherit;
    border-right: 1px solid #7a6d6d;
}

.sidebar-menu-content {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu-item-container {
    padding: 0 5px;
    margin-bottom: 5px;

    &:first-child {
        margin-top: 5px;
    }

    &:last-child {
        margin-bottom: 0px;
    }
}

.sidebar-menu-item {
    display: block;
    padding: 10px 20px;
    color: #000000;
    background-color: #c6d2dc;

    border-radius: 3px;
    cursor: pointer;

    &:hover {
        background-color: #2a97f0;
    }

    &.active {
        background-color: #2a97f0;
    }
}
